ul,li{
	list-style: none;
}

body{
    margin:0px;
}

#xxx{
    /*background:green;*/
    display:block;
}

.actions{
    position:fixed;
    top:0;
    left:0;
    padding:20px;
}

.actions button{
	width:1.5em;
	height:1.5em;
	transition:all 0.3s;
	margin:0 10px;
}

.actions button.active{
	fill:red;
	transform:scale(1.2);
}

.colors{
	position:fixed;
	top:60px;
	left:28px;
}

.colors> li{
	width:20px;
	height:20px;
	border-radius:50%;
	box-shadow: 0 0 3px rgba(0,0,0,0.25)
	border:3px solid #ccc;
	margin:10px 0;
}

.colors > li.red{
	background:red;
}

.colors > li.green{
	background:green;
}

.colors > li.blue{
	background:blue;
}

.colors > li.active{
	box-shadow: 0 0 3px rgba(0,0,0,0.95)
	transform:scal(1.2);
	transition: all 0.3s;
}